/* navsort */
.navsort * {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navsort a, .navsort img {
    border: 0;
}

.navsort {
    font-size: 12px;
    color: #333;
    line-height: 150%;
}

.navsort a:link, .navsort a:visited {
    color: #333;
    text-decoration: none;
}

.navsort a:hover {
    color: #c00;
    text-decoration: underline;
}

.navsort a:active {
    color: #900;
}

.carbox, .extra, .allsort h3, .allsort s, .allsort .close {
    background: url('../img/dropdown_category.gif') no-repeat;
}

.navsort {
    width: 960px;
    height: 1px;
    margin: 0px auto 0px auto;
}

/*allsort*/
.allsort {
    float: left;
    width: 211px;
    height: 1px;
    position: relative;
    z-index: 11;
}

.allsort .mc {
    display: none;
    position: absolute;
    top: 0px;
    overflow: visible;
    width: 203px;
    padding: 0 3px 0;
    border: solid #C40000;
    border-width: 0 1px 1px;
    background: #FEF8EF;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

.allsort .item {
    width: 203px;
    height: 32px;
    border-top: 1px solid #FDE6D2;
}

.allsort .fore {
    border-top: none;
}

.allsort span {
    display: block;
    width: 203px;
    position: relative;
    z-index: 1;
}

.allsort h3 {
    font-size: 14px;
    width: 177px;
    height: 30px;
    padding-left: 20px;
    border: solid #FEF8EF;
    border-width: 1px 0 1px 1px;
    background-position: -241px -57px;
    font-weight: normal;
}

.allsort h3 a:link, .allsort h3 a:visited {
    display: block;
    height: 30px;
    line-height: 30px;
    color: #333;
}

.allsort h3 a:hover, .allsort h3 a:active {
    color: #1B578A;
}

.allsort s {
    display: block;
    position: absolute;
    top: 10px;
    left: 182px;
    width: 13px;
    height: 13px;
    background-position: -218px -106px;
}

.allsort .item .i-mc {
    display: none;
    position: absolute;
    left: 200px;
    top: 0;
    width: 700px;
    border: 1px solid #c30;
    background: #FFF9EF;
    overflow: hidden;
}

.allsort .item dt {
    padding: 3px 6px 0 0;
    font-weight: bold;
}

.allsort .item dd {
    padding: 3px 0 0;
    overflow: hidden;
    zoom: 1;
}

.allsort .subitem {
    float: left;
    width: 464px;
    min-height: 400px;
    padding: 0 4px 0 8px;
}

.allsort .subitem dl {
    border-top: 1px solid #FFEFD7;
    padding: 6px 0;
    overflow: hidden;
    zoom: 1;
}

.allsort .subitem .fore {
    border-top: none;
}

.allsort .subitem dt,
.allsort .subitem dt a {
    float: left;
    width: 84px;
    line-height: 22px;
    text-align: right;
    color: #c00;
}

.allsort .subitem dd {
    float: left;
    width: 372px;
}

.allsort .subitem em {
    float: left;
    height: 14px;
    margin: 4px 0;
    line-height: 14px;
    padding: 0 8px;
    border-left: 1px solid #ccc;
    font-style: normal;
    white-space: nowrap;
}

.allsort .fr {
    background: #fff;
    width: 194px;
    padding: 0 15px 2010px 15px;
    margin-bottom: -2000px;
    float: right;
}

.allsort .fr dl {
    padding-bottom: 0;
}

.allsort .fr img {
    width: 194px;
    height: auto;
}

.allsort .mc .extra {
    padding: 7px 8px;
    background: #FDF1DE;
    border-top: 1px solid #FDE6D2;
}

.allsorthover {
    background-position: 0 -50px;
}

.allsorthover .mc {
    display: block;
}

.allsort .hover span {
    z-index: 13;
    width: 160px;
}

.allsort .hover h3 {
    font-size: 14px;
    border: solid #c30;
    border-width: 1px 0 1px 1px;
    overflow: hidden;
    background: url('../img/dropdown_category.gif') #FFF9EF no-repeat -241px -57px;
    font-weight: bold;
}

.allsort .hover s {
    display: none;
}

.allsort .hover .i-mc {
    display: block;
    z-index: 12;
}

*html .allsort .item dd {
    padding-bottom: 6px;
}

*html .allsort .subitem {
    height: 400px;
}

.allsort .close {
    position: absolute;
    top: 6px;
    left: 674px;
    z-index: 14;
    width: 19px;
    height: 19px;
    background-position: -216px -125px;
    cursor: pointer;
}